<!-- Default home page -->
<link type="text/css" href='http://sailsjs.org/styles/fonts.css' rel='stylesheet'/>
<script type="text/javascript">
  setTimeout(function sunrise() {
    document.getElementsByClassName('header')[0].style.backgroundColor = '#B0FFB8';
  }, 0);
</script>

<div class="default-page">
  <div class="header">
    <!-- <h3 class="container">You're looking at: <code><%= view.pathFromApp + '.' + view.ext %></code></h3> -->
  </div>
  <div class="main container clearfix">
    <!-- <h1>Getting started</h1>
    <p>Don't worry, we've got your back.</p> -->

    <div class="content text-center">
      <br>
      <br>
      <br>
      <!-- <h1 id="main-title" href="/auth/twitter/">Please sign in</h1> -->

<!--       <a href="/auth/github/" class="btn">with GitHub</a>
      <a href="/auth/facebook/" class="btn">with Facebook</a>
      <a href="/auth/google/" class="btn">with Google+</a> -->
      <a href="/auth/twitter/" class="btn-primary btn-lg" >Please Sign In Using Twitter</a>
    </div>

  </div>
</div>
