
<!-- Default home page -->
<!--<link type="text/css" href='http://sailsjs.org/styles/fonts.css' rel='stylesheet'/>
<style type="text/css">
      html, body, #map-canvas { height: 100%; margin: 0; padding: 0;}
	#inputarea{
		position: absolute;
		left: 10px;
		top: 10px;
	}
	
	div.bargraph{
		position: absolute;
		left: 100px;
		top: 100px;
	}
</style>
-->
<!--
<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCku-O2DiUbln3NhDToN_LbsUMNM8nKqfg">
</script>
-->
<!-- <script type="text/javascript">
//    function initialize() {
//       var mapOptions = {
//          center: { lat: 38.951, lng: -92.340},
//          zoom: 8
//       };
//       var map = new google.maps.Map(document.getElementById('map-canvas'),
//          mapOptions);
//    }
//    google.maps.event.addDomListener(window, 'load', initialize);
// </script>-->


<!-- <div id="map-canvas"></div> -->



<!-- Default home page -->
<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCku-O2DiUbln3NhDToN_LbsUMNM8nKqfg">

</script>

<script src="//code.jquery.com/jquery-1.11.0.min.js"></script>

<script type="text/javascript">
    function initialize() {
       var mapOptions = {
          center: { lat: 38.951, lng: -92.340},
          zoom: 8
       };
       var map = new google.maps.Map(document.getElementById('map-canvas'),
          mapOptions);
    }
    google.maps.event.addDomListener(window, 'load', initialize);
</script>

 <script type="text/javascript" src="https://www.google.com/jsapi"></script>
    <script type="text/javascript">
      google.load("visualization", "1", {packages:["corechart"]});
      google.setOnLoadCallback(drawChart);
        
      var chart;
      var data;
      var options;
      // var http = require('http');
      
      function drawChart() {
        dataTable = google.visualization.arrayToDataTable([
          ['Year', 'Sales'],
          ['2004',  1000],
          ['2005',  1170],
          ['2006',  660],
          ['2007',  1030]
        ]);

        options = {
          title: 'tweet(s) for the area code: ',
          hAxis: {title: 'tweet(s)', titleTextStyle: {color: 'red'}}
        };

        chart = new google.visualization.ColumnChart(document.getElementById('chart_div'));
        chart.draw(dataTable, options);
      }
        
      function calledFunction(){
        var zip;
        
        if(document.getElementById('AreaCode').value == '')
          zip = 0;
        else
          zip = document.getElementById('AreaCode').value;
        
        var hashtag = document.getElementById('HashTag').value;
        
        // var options = {
        //   host: 'localhost:1337',
        //   path: '/getdatawithzip?hashtag='+hashtag+'&zipcode='+zip
        // };
        // http.request(options, callback).end();
        
        updateChart(5, hashtag);



      }

      // $(document).ready( function() {
      //       $.ajax({
      //         url:'http://localhost:1337/getdatawithzip?hashtag=banana&zipcode=63026',
      //         dataType:'json',
      //         type: "GET",
      //         jsonp : "callback",
      //         contentType: "application/json",
      //         success: function(data){
      //             console.log(data);
      //             updateChart(data, hashtag);
      //         },
      //         error: function(data){
      //             console.log(data.getResponseHeader());
      //         }
      //     }).done(function( data ) {
      //         console.log(data);
      //     });
      //   });

      // function to update the chart with new data.
      function updateChart(num, hash) {
       
          dataTable = new google.visualization.DataTable();
          
          var newData = [['tweet', 'Number'],
            [hash,  num]];
        
          // determine the number of rows and columns.
          var numRows = newData.length;
          var numCols = newData[0].length;
        
          // in this case the first column is of type 'string'.
          dataTable.addColumn('string', newData[0][0]);
        
          // all other columns are of type 'number'.
          for (var i = 1; i < numCols; i++)
            dataTable.addColumn('number', newData[0][i]);           
        
          // now add the rows.
          for (var i = 1; i < numRows; i++) 
            dataTable.addRow(newData[i]);            

          // redraw the chart.
          chart.draw(dataTable, options);        
      
          //makes the chart visible
          var showme = document.getElementById("chart_div");
          showme.style.visibility = "visible";
      }
     
      // callback = function(response) {
      //   var str = '';

      //   //another chunk of data has been recieved, so append it to `str`
      //   response.on('data', function (chunk) {
      //     str += chunk;
      //   });

      //   //the whole response has been recieved, so we just print it out here
      //   response.on('end', function () {
      //     var hashtag = document.getElementById('HashTag').value;
      //       updateChart(str.length, hashtag);
      //   });
      // }

    </script>

<script type="text/javascript">
  setTimeout(function sunrise() {
    document.getElementsByClassName('header')[0].style.backgroundColor = '#B0FFB8';
  }, 0);



</script>



<div class="default-page">
  <div class="header">
    <!-- <h3 class="container">You're looking at: <code><%= view.pathFromApp + '.' + view.ext %></code></h3> -->
    <ul class="nav nav-pills">
      <li role="presentation" class="active"><a href="/">Home</a></li>
      <li role="presentation"><a href="/info">View Info</a></li>
      <li role="presentation"><a href="/logout">Logout</a></li>
      <li class="pull-right">
       <!--  <form role="search">
        <div class="form-group">
          <input type="text" class="form-control" placeholder="HashTag">
      </li>
      <li class="pull-right">
          <input type="text" class="form-control" id="zipcode" placeholder="Zip Code">
        </div>
      </li>
      <li><button type="submit" class="btn btn-default">Submit</button></li>
      </form> -->
    </ul>

  </div>
</div>
<div id="map-canvas"></div>

 <div id="inputarea">
	  Zip code: <input type="text" name="AreaCode" id="AreaCode"><br>
	  HashTag: <input type="text" name="HashTag" id="HashTag"><br>
	 <!-- <button onclick='updateChart();'>update chart</button> -->
   
	  <button onclick='calledFunction();'>update chart</button>
   </div>
	</div>
<div id="chart_div" class = "bargraph" style="width: 900px; height: 500px;"></div>




